/*
Color picker
#1A1A1D
#4E4E50
#6F2232
#950740
#C3073F
#ff5000
#FC6600
*/
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700;900&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
.afix{
    width: inherit;
    height: inherit;
}
img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
article{
    color: inherit;
    height: 100%;
}
body{
    background-color: #f1f1f1;
    font-family: 'Roboto Condensed', sans-serif;
}
main{
    background-color:#252525;
    min-height: 80vh;
}
ul{
    list-style-type: none;
}
header{
    background-color: #191919;
    height:5rem;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
#logo{
    padding:0 1.5rem;
    font-family: 'Russo One', sans-serif;
}
#evo{
    color:#ff5000;
    font-size:3rem;
}
#magazin{
    color: #f1f1f1;
    padding-left:0.1rem;
    font-size:1rem;
}
nav ul{
    color:#f1f1f1;
    display: flex;
    padding: 0 1.2rem;
}
nav ul li{
    padding:0 0.7rem;
    font-size: 1.6rem;
}
nav ul li:hover{
    color:#ff5000;
}
/*kraj headera*/

#hero{
    width: 100%;
    height: 85vh;
    display: flex;
}
/*pozadinska slika articla*/



#leftHero{
    color: white;
    position: relative;
    width: 66%;
    height: 100%;
    transition-duration: 1s;
}
#leftHero:hover{
    color:#ff5000;
}
#leftHero img{
    filter: brightness(95%);
}
.bgmaska{
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(0deg,#101010,rgba(25,25,25,0));
}
.articleBg{
    position: absolute;
    z-index: 1;
}
.text-area{
    position:absolute;
    color: inherit;
    bottom: 0;
    left: 0;
    z-index: 3;
    padding: 1.7rem;
}
#leftHero .text-area{
    padding:3rem 2rem;
}
.text-area h1{
    font-size: 3.5rem;
    color: inherit;
    font-weight: 900;
}
.text-area h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 1rem;
}




#rightHero{
    width: 40%;
    height: 100%;
}
#topRightHero{
    height: 50%;
    color: white;
    position: relative;
    transition-duration: 1s;
}
#topRightHero:hover{
    color: #ff5000;
}
#bottomRightHero{
    height: 50%;
    position: relative;
    color: white;
    transition-duration: 1s;
}
#bottomRightHero:hover{
    color: #ff5000;
}
.text-area h3{
    font-size: 1.5rem;
    color: inherit;
    margin-bottom: 1rem;
}



/*Tagovi u uglu slika*/
.categories{
    width: fit-content;
}
.categories span{
    color: black;
    font-size: 1.1rem;
    padding:0.2rem 0.5rem;
    background-color: #ff5000;
    border-radius: 0.5rem;
    margin-right: 1rem;
}
.categories span:hover{
    color: white;
}





/*Main articles*/
#content-articles{
    background-color: #191919;
    padding-top: 3rem;
}
.content-row{
    width: 100%;
    height: 50vh;
    border-bottom: 1px solid #393939;
    padding:1rem 2rem 3rem 2rem;
}
.content-row h1{
    color: #ff5000;
    font-size: 2.5rem;
    padding: 0 0 0.8rem 1rem;
}
.article-section{
    display: flex;
    width: 100%;
    height:85%;
}
.article-box{
    position: relative;
    width: 25%;
    margin: 0 0.6rem;
    height: 100%;
}
.article-box img{
    position: absolute;
    z-index: 1;
}
.article-box h2{
    font-size: 1.3rem;
    position: absolute;
    padding: 0 0.6rem 0.8rem 0.6rem;
    color: white;
    z-index: 2;
    bottom: 0;
    left: 0;
}
.article-box:hover{
    transform: scale(1.05);
    transition-duration: 0.8s;
}




footer{
    background-color:#3a3a3a;
    width: 100%;
    padding: 3rem 8rem;
    display: flex;
}
#left-footer{
    width: 50%;
    height: 100%;
}
#mail-box{
    width: 100%;
    height: 50%;
    padding: 0.8rem 1.5rem 0.5rem 1.5rem;
}
#mail-frame{
    width: 100%;
    height: 3rem;
    background-color:#191919;
    border: none;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
}
#mail-frame::placeholder{
    color: #393939;
    padding-left: 1rem;
    font-family: 'Russo One', sans-serif;
}
#mail-deo{
    display: flex;

}
#mail-submit{
    color: white;
    font-family: 'Russo One', sans-serif;
    width: 20%;
    background-color:#191919;
    border: none;
    border-left: 3px solid #393939;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
}
#mail-label{
    font-size: 1.5rem;
    padding-left: 0.5rem;
    padding-bottom: 0.2rem;
}
#socials{
    width: 100%;
    height: 50%;
    padding: 0.8rem 1.5rem 0.5rem 1.5rem;
}
#socials-box{
    display: flex;

}
#socials h2{
    padding-left: 0.5rem;
}
#socials-box img{
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
}


#right-footer{
    display: flex;
    width: 50%;
    height: 100%;
}
#contacts-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    padding:0.2rem 2rem;
}
#contacts-box h2{
    font-size: 2rem;
    align-self: center;
}
#contacts-box p{
    font-size: 1.5rem;
}
#links-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    padding:0.2rem 2rem;
}
#links-box h2{
    font-size: 2rem;
    align-self: center;
}
#links-box p{
    font-size: 1.5rem;
}

#aboutme-box{
    display: flex;
    width: 100%;
    padding: 5rem 15rem;
}
#aboutme-box img{
    height: 20rem;
    width: auto;
    box-shadow: -2px 1px 23px 4px rgba(0,0,0,0.75);
}
#oautoru-box{
    width: 100%;
    display: flex;
    padding: 5rem;
    box-shadow: -2px 1px 23px 4px rgba(0,0,0,0.75);
}
#aboutme-text{
    display: flex;
    flex-direction: column;
    padding-right: 3rem;
}
#aboutme-text h1{
    font-size: 3rem;
    align-self: center;
    color: #ff5000;
}#aboutme-text h3{
    font-size: 1.8rem;
    color: white;
}